/*
      _  _   ____                         _  
    _| || |_/ ___|  ___ _ __  _ __   ___ | | 
   |_  ..  _\___ \ / _ \ '_ \| '_ \ / _ \| | 
   |_      _|___) |  __/ |_) | |_) | (_) |_| 
     |_||_| |____/ \___| .__/| .__/ \___/(_) 
                       |_|   |_|             

  Personal Social Web.

  Copyright (C) The #Seppo contributors. All rights reserved.

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program. If not, see <http://www.gnu.org/licenses/>.
*/
:root {
  color-scheme: light dark;

  --bgRough: hsl(30,0%,93%);
  --bgFairway: hsl(30, 45%, 90%);
  --text-color: hsl(30, 50%, 44%);
  --link-color: hsl(200, 50%, 44%);
  --link-color: hsl(206, 62%, 48%); /* https://css.land/lch/ from text-color -> blue*/
  --GW-dotted-underline-background-image: url('data:image/gif;base64,R0lGODlhBAACAPAAMYiIiP///ywAAAAABAACAAACBAQShgUAOw==');
  --GW-link-underline-gradient-line-color: var(--link-color);
 }
@media (prefers-color-scheme: dark) {
  :root {
    --bgRough: #111;
    --bgFairway: #111;
    --text-color: hsl(30, 35%, 59%);
  }
}

html {
  font-family: B612, sans-serif, Optima, Candara, Calibri, Arial, sans-serif;
  line-height: 1.5;
  font-size:   12pt;
}
html, input, textarea, .awesomplete > ul, .awesomplete > ul > li {
  background: var(--bgRough);
  color: var(--text-color);
}
body, .awesomplete > ul > li:hover {
  background: var(--bgFairway);
}
h1, .h1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 48px
}
h2, .h2 {
  font-size: 2.5em;
  font-weight: bold;
  margin:    0;
}
h3, .h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin:    .1ex 0 .1ex 0;
}
body {
  margin:     auto;
  max-width:  45rem;
  min-height: 500px;
  padding:    1ex;
}
#header {
}
#banner {
  margin: -8px;
}
#banner > img {
  border-radius: 1ex;
  display:    block;
  max-height: 100%;
  max-width:  100%;
}
div#title {
  margin-top:    1ex;
}
img#avatar {
  border:        3px solid var(--bgRough);
  border-radius: 48px;
  float:         left;
  margin-right:  1ex;
  margin-top:    -1ex;
  max-height:    96px;
  max-width:     96px;
}
#footer {
  margin-top: 2.5ex;
}
.manytags body {
  max-width: initial;
}
button, .btn, a:any-link {
  color: var(--link-color);
  text-decoration: none;
}
a:any-link { 
  /* gentle underlines https://www.gwern.net/Design */
  /* background-image: linear-gradient(var(--GW-link-underline-gradient-line-color), var(--GW-link-underline-gradient-line-color)); */
  /* background-image: var(--GW-dotted-underline-background-image); */
  /* background-position: 0% 100%;
  background-repeat: repeat-x;
  background-size: 1px 0.1ex; */
  border-bottom: 0.2ex dotted var(--GW-link-underline-gradient-line-color);
  color: var(--link-color);
  text-decoration: none;
}

button, .btn, #links_commands a:any-link, p.categories a:any-link {
}
_p#tags.categories > a.tag[data-count="1"] {
  display:none;
}
#do-post {
  margin-top: -1rem;
}
form, table {
  margin: 1ex 0;
}
table {
  margin-top: 2ex;
}
ol {
  list-style: none;
  padding: 0;
}
ol > li {
  clear: both;
  margin: 3ex 0;
  padding: 1.0ex 0;
}
ol > li > h3 img {
  display: none;
  border: 1px dotted black;
  float: right;
  max-height: 120px;
  max-width: 120px;
}
p {
  hyphens: auto;
  margin: .2ex 0;
  -moz-hyphens: auto;
  overflow: hidden;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
}
p#tags {
  line-height: 1;
}
/* a[data-count="1"] { display: none } */
img.qrcode {
  background: hsl(115, 100%, 35%);
  height: 27px;
  width: 27px;
}
.btn, button, input, textarea {
  border: 1px solid darkgrey;
  border-radius: 4px;
  min-height: 3.5ex;
}
input, textarea {
  font: inherit;
  margin: .5ex 0;
  padding: 0 1ex;
  width: 97%;
}
label {
  text-transform: capitalize;
}
button, .btn {
  background: hsl(30, 80%, 80%);
  cursor:     pointer;
  padding:    1ex;
}
button {
  font: inherit;
  min-width: 14ex;
  padding: .5ex;
}
button[name='delete_edit'] {
  background: hsla(0, 99%, 50%, 0.75);
}
table {
  width: 100%;
}
.text-left   { text-align: left; }
.text-right  { text-align: right; }
.text-center { text-align: center; }

/* https://www.w3schools.com/Css/css_float.asp */
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}
@media only screen and (max-width: 600px) {
  .hidden-xs { display: none; }
}


.hidden-logged-in { display:initial; }
.logged-in .hidden-logged-in { display:none; }
.visible-logged-in { display:none; }
.logged-in .visible-logged-in { display:initial; }

.hidden-logged-out { display:initial; }
.logged-out .hidden-logged-out { display:none; }
.visible-logged-out { display:none; }
.logged-out .visible-logged-out { display:initial; }

/* This is a workaround for Browsers that insert additional br tags.
 * See http://purl.mro.name/safari-xslt-br-bug */
.rendered.type-text br { display:none; }
.rendered.type-text br.br { display:inline; }


div.awesomplete {
  display: block;
}
.awesomplete > ul > li[aria-selected="true"] {
  background: hsl(30, 60%, 83%);
}
.awesomplete mark, .awesomplete li:hover mark, .awesomplete li[aria-selected="true"] mark {
  background: inherit;
  color: inherit;
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  .btn, button {
    background: hsla(30, 60%, 60%, 0.40);
  }
  .btn, button, input, textarea {
    border-color: #777;
  }
  .awesomplete > ul > li[aria-selected="true"] {
    background: hsl(30, 60%, 23%);
  }
  img {
    filter: grayscale(30%);
  }
}

.disabled {
  opacity: 40%;
  pointer-events: none;
}
